@import '../../styles/settings.scss';

nav {
  background: darken($color-dark, 3%);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    %links {
      display: flex;
      list-style-type: none;
    }

    .naviLinks {
      @extend %links;
      font-size: 18px;
    }

    .icon { 
      @extend %links;
      font-size: 24px;
    }
    
    a {
      text-decoration: none;
      color: $color-light;
      padding: 10px;
    }

    .linkActive {
      color: $color-warning;
    }
  }

}
