@import '../../styles/settings.scss';

.NoMatch {
  padding: $base-size;
  text-align: center;

  h1 {
    font-size: 48px;
    margin-bottom: 30px;
  }

  Button {
    margin: 20px;

    a {
      text-decoration: none;
      color: $color-light;
    }
  }
}